@import url("/themes/commons/styles/styles.css");
span.icon {
    font-size: 1rem;
    margin: 0;
    padding: calc(0.375rem + 1px) 0;
    color: #572a57;
}

.clipboard span.icon {
    font-size: 1.2rem;
    vertical-align: middle;
}

psk-button span.icon {
    padding: 0;
}

.icon.disable-color {
    color: #999 !important;
}

.icon.icon-run-app {
    font-size: 0.75rem;
}

.icon.right-menu {
    font-size: 1.5rem;
}

psk-icon[descending='true'] span.icon {
    transform: rotate(180deg);
}

.expand-icon span.icon {
    color: #fff;
}

.modal-icon-big span.icon {
    font-size: 3rem;
    margin: 0;
    padding: 1rem 1.1rem;
    border: 2px solid #8197bc;
    border-radius: 3rem;
}

div.menu-icons {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

div.menu-icons>* {
    padding: 0 0.25rem 0.25rem 0.25rem;
    margin: 0 0.25rem 0.25rem 0.25rem;
}

div.menu-icons .btn-menu {
    padding-top: 0.25rem;
    width: 3rem;
    height: 3rem;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}