@import url(../../../commons/styles/styles.css);

psk-label {
  padding: 0.25rem calc(0.175rem + 1px);
}

psk-label,
label {
  max-width: 100%;
}

psk-button psk-label,
psk-button label {
  cursor: pointer;
  text-decoration: none;
}

.col-form-label {
  padding: 0 !important;
}

psk-label.h1 label,
psk-label.h2 label,
psk-label.h3 label,
psk-label.h4 label,
psk-label.h5 label,
psk-label.h6 label {
  margin: 2rem 1rem 1rem 1rem;
  font-size: inherit;
}

psk-label.info,
psk-label.error,
psk-label.warning {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

psk-label.info label {
  font-style: italic;
  color: #572a57;
  word-wrap: break-word;
}

psk-label.error label {
  font-style: italic;
  color: #ff0000;
  word-wrap: break-word;
}

psk-label.warning label {
  font-style: italic;
  color: #ffbb00;
  word-wrap: break-word;
}
