@import url(../../../commons/styles/styles.css);
* {
  outline: none !important;
  width: auto;
  height: auto;
  max-width: 100%;
}

/* clean old style inherited from bootstrap */
psk-card,
.card.psk-card,
.card.psk-card .card-header,
.card.psk-card .card-body {
  font-family: nunito;
  background: none;
  display: block;
  border: none;
}

.card.psk-card .card-header {
  background-color: #eee;
}

.card.psk-card .card-body {
  padding: 2rem 4rem;
}

.card-header h5 {
  width: 100%;
  line-height: 2rem;
  color: rgba(74, 74, 163, 0.75);
  font-weight: bold;
  padding-left: 16px;
  font-size: 1.2rem;
}

/** first level of psk-card */

.psk-card .card-header {
  font-size: 130%;
}

/** second level of psk-card */

.psk-card .psk-card .card-header {
  font-size: 120%;
}

/** more than two levels of psk-card*/

.psk-card .psk-card .psk-card .card-header {
  font-size: 110%;
}

@media (max-width: 969px) {
  .card.psk-card .card-body {
    padding: 2rem 2rem;
  }
}
