@import url(../../../commons/bootstrap/css/bootstrap.min.css);
@import url(../../../commons/styles/styles.css);

.header .row {
  margin-top: 2rem;
}

.row {
  color: #572a57;
  font-weight: bold;
}

.items .row > * {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

psk-grid .col-form-label {
  display: inline;
  justify-content: flex-start;
  align-items: center;
  flex: 0 0 auto;
}
