
input[type=file].form-control-sm {
    padding-left: 0;
    display: none;
}

label {
    cursor: pointer;
}

psk-files-chooser{
    display: flex;
    clear:both;
}

button.btn.btn-secondary.p-0,
button.btn.btn-secondary.p-0:hover,
button.btn.btn-secondary.p-0:focus,
button.btn.btn-secondary.p-0:active,
button.btn.btn-secondary.p-0:active:focus{
    background: transparent;
    border: none;
    outline:none;
    box-shadow: none;
}


