

.header .row {
  margin-top: 2rem;
}

div.row {
  color: #572a57;
  font-weight: bold;
}

.items div.row > * {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

psk-grid label.col-form-label {
  display: inline;
  justify-content: flex-start;
  align-items: center;
  flex: 0 0 auto;
}
