div.form-group {
    margin-top: 0.5rem;
}

.align-left {
    text-align: left;
}

.full-width {
    width: 100%;
}

psk-label {
    padding: 0.25rem calc(0.175rem + 1px);
}

psk-label,
label {
    max-width: 100%;
}

psk-button psk-label,
psk-button label {
    cursor: pointer;
    text-decoration: none;
}

.col-form-label {
    padding: 0 !important;
}

psk-label.title {
    font-size: 1.25rem;
    padding: 0;
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    width: 250%;
    color: #fff;
    opacity: 0.8;
}

psk-label.h1 label,
psk-label.h2 label,
psk-label.h3 label,
psk-label.h4 label,
psk-label.h5 label,
psk-label.h6 label {
    margin: 2rem 1rem 1rem 1rem;
    font-size: inherit;
}

psk-label.info,
psk-label.error,
psk-label.warning {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

psk-label.info label {
    font-style: italic;
    color: #572a57;
    word-wrap: break-word;
}

psk-label.error label {
    font-style: italic;
    color: #ff0000;
    word-wrap: break-word;
}

psk-label.warning label {
    font-style: italic;
    color: #ffbb00;
    word-wrap: break-word;
}

psk-label.success.small label {
    display: inline-block;
    padding: .25em .4em;
    color: #28a745;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
}


/* External CSS - Rules to be applied outside of shadow dom from psk-modal */

psk-modal>*,
psk-modal psk-condition>* {
    margin-top: 0;
    margin-bottom: 0;
}

psk-modal psk-condition {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

psk-modal .container>* {
    padding: 1em;
}

psk-modal .container>psk-condition,
psk-modal .container>.modal-buttons {
    padding: 0;
    margin: 0;
}

psk-modal .container>psk-label {
    font-size: 1.2rem;
    color: #808080;
}

psk-modal psk-label,
psk-modal psk-input psk-label {
    font-size: 1.1rem;
    color: #9d9d9d;
    line-height: 1.5rem;
}

psk-modal psk-label+input.form-control {
    margin-top: 0.75rem;
}

psk-modal psk-for-each {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    vertical-align: middle;
    padding: 0.5rem 0px;
}

psk-modal psk-for-each.wallet-list-container {
    flex-direction: column;
}

psk-modal.move-modal psk-grid psk-label,
psk-modal.move-modal psk-for-each psk-label {
    font-size: 1rem;
    line-height: 1.5rem;
    color: #000;
}

psk-modal.asset-modal .content {
    display: block;
    text-align: center;
    padding: 2rem 1rem;
    height: 50vh;
    width: 100%;
}

psk-modal.asset-modal img {
    height: -webkit-fill-available;
}

psk-modal.asset-modal object {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
}

psk-modal.asset-modal[expanded="true"] .content {
    height: 70vh;
}