/* clean old style inherited from bootstrap */

psk-card,
.card.psk-card,
.card.psk-card .card-header {
    font-family: nunito;
    background: none;
    display: block;
    border: none;
}

psk-card.page-title .card .card-header {
    background: #e9e8e8;
}

.card-header {
    background-color: #eee;
}

.card-body {
    padding: 2rem 4rem;
}

.card-header h5 {
    width: 100%;
    color: #5076b3;
    font-weight: bold;
    padding-left: 1rem;
    font-size: 1.1rem;
    margin-bottom: 0;
    line-height: 2.8rem;
}


/** first level of psk-card */

.psk-card .card-header {
    font-size: 130%;
}


/** second level of psk-card */

.psk-card .psk-card .card-header {
    font-size: 120%;
}


/** more than two levels of psk-card*/

.psk-card .psk-card .psk-card .card-header {
    font-size: 110%;
}

@media (max-width: 991px) {
    .card-body {
        padding: 2rem 2rem;
    }
}


/*** Special selectors ***/


/** wallet-grid **/

.wallet-grid-container {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 100%;
    max-width: 100%;
}

.wallet-grid-container psk-card .card-body {
    padding: 0.25rem 0.75rem;
    border: 1px solid #572a57;
    border-radius: 10px;
    background-color: #ffffff;
    margin: 1rem 3rem 1rem 0;
}

.wallet-grid-container psk-card {
    position: relative;
    flex: 0 0 25%;
    max-width: 25%;
}

.wallet-grid-container .selected .card-body,
.wallet-list-container .selected .card-body {
    background-color: #e3cbff;
}

.wallet-list-container .card-body {
    padding: 0;
    color: rgb(130, 130, 130);
    font-weight: 400;
    background-color: #fff;
    border-radius: 0.25rem;
    box-shadow: 0px 0px 2.5px rgba(150, 150, 150, 0.75);
}

.wallet-grid-container psk-card :not(psk-button)>psk-icon span.icon {
    font-size: 20px;
}

@media (max-width: 1499px) {
    .wallet-grid-container psk-card {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
}

@media (max-width: 1199px) {
    .wallet-grid-container psk-card {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .wallet-grid-container psk-card:nth-child(2n) .card-body {
        margin: 1rem 1rem 0 3rem;
    }
    .wallet-grid-container psk-card:nth-child(2n + 1) .card-body {
        margin: 1rem 3rem 0 0;
    }
}

@media (max-width: 575px) {
    .wallet-grid-container psk-card {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .wallet-grid-container psk-card .card-body {
        margin: 1.5rem 1rem !important;
    }
}


/** receive dossier **/

.receive-dossier,
.receive-dossier div.card.psk-card,
.share-dossier,
.share-dossier div.card.psk-card {
    width: 100%;
}

.receive-dossier>div.card>div.card-body,
.share-dossier>div.card>div.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 1 1 auto;
    border: 0.1rem solid #b6cbee;
    border-radius: 10px;
    padding-left: 4rem;
    padding-right: 4rem;
    font-size: 1.2rem;
    font-style: italic;
    color: #808080;
}

.share-qr {
    width: 150px;
    background: #fff;
}

.share-dossier div.image_container {
    margin: 0;
}

@media screen and (max-width: 959px) {
    .receive-dossier div.card-body,
    .share-dossier div.card-body {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}


/** move modal **/

.move-modal psk-card,
.move-modal .card,
.move-modal .card-body,
.move-modal psk-button,
.move-modal button.btn.btn-primary,
.move-modal psk-grid,
.move-modal .row {
    display: flex !important;
    width: 100%;
}

.move-modal .wallet-list-header {
    padding: 0.375rem 0.75rem;
}

.move-modal .wallet-list-header span.icon {
    padding: 0.5rem;
}

.move-modal .wallet-list-container {
    height: 30vh;
    overflow: auto;
}

.move-modal .navigation-links>*,
.move-modal .modal-buttons psk-button {
    width: auto;
}

.move-modal .items div.row psk-label {
    text-align: center;
    justify-content: center;
}