#backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 99998;
    opacity: 0;
    pointer-events: none;
}

:host {
    display: none;
}

:host([opened]) {
    display: block;
}

:host([opened]) #backdrop,
:host([opened]) #modal {
    opacity: 1;
    pointer-events: all;
}

#modal {
    position: fixed;
    top: 10vh;
    right: 15%;
    width: 60%;
    z-index: 99999;
    background: white;
    border-radius: 3px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease-out;
    text-align: center;
    vertical-align: middle;
}

#modal .modal-header button.close {
    margin: 0;
    padding: 0;
    color: #fff;
    opacity: 1;
}

@media screen and (max-width: 769px) {
    #modal,
    #backdrop {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
}

:host .modal-header {
    background-color: #8197bc;
    border-color: #8197bc;
    border-radius: 0;
    padding: 0.75rem 1rem;
}

:host .modal-header .toolbar {
    display: flex;
    justify-content: flex-end;
    width: 4em;
    vertical-align: middle;
}

:host .modal-content {
    background-color: #f2f2f2;
    border: none;
    border-radius: 5px;
}

:host .modal-body {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    width: 80%;
    left: 10%;
    padding: 1rem 0 0 0;
    line-height: 2rem;
}

:host div.modal-footer {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

:host([expanded='true']) #modal,
:host([expanded='true']) .modal-content,
:host([expanded='true']) .modal-content .modal-body {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
}

:host .expand {
    border: none;
    background: none;
    opacity: 1;
    color: #ffffff;
    padding: 0;
    margin: 0 1em;
}

:host(.asset-modal) ::slotted(:not(psk-label)) {
    display: flex;
    flex-direction: row;
    max-width: 90%;
    max-height: 75%;
}

:host(.asset-modal) ::slotted(.footer) {
    display: flex;
    flex: 1;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
}


/** The content of the Exit modal **/

:host(.exit-modal) ::slotted(.container) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}